/* SearchBar Component */
.search-bar{
  border: 1px #ccc solid;
  padding: 8px;

  .magnifier{
    line-height: 20px;

    img {
      display: inline-block;
      margin-right: 8px;
      width: 20px;
      height: 20px;
    }
    input{
      display: inline-block;     
      border: none;
      height: 20px;
      width: 90%;
      font-size: 18px;
    }
  }

  
}