/* Card Component */
.card{
  background-color: #FAFAFA;
  border-radius: 2px;
  margin-top: 20px;
  
  
  .avatar{
    display: inline-block;

    img {
      width: 125px;
      height: 125px;
    }
  }
  .info{
    display: inline-block;

    em {
      background-color: yellow;
    }
  }
}