/* Card Component */
.card{
  padding-top: 20px;
  
  .content{
    background-color: #ccc;
    border-radius: 2px;
  }

  .avatar{
    display: inline-block;

    img {
      width: 125px;
      height: 125px;
    }
  }
  .info{
    display: inline-block;

    em {
      background-color: yellow;
    }
  }
}